<!doctype html>
<title>Quick 'n' dirty Flask</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Quick 'n' dirty Flask</h1>

  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
  {% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='underscore.js') }}"></script>
  {% endblock %}
</div>