<!doctype html>
<html>
    <head>
    <title>Quick 'n' dirty Flask Scrapbook</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div class=page>
      <h1>Quick 'n' dirty Flask Scrapbook</h1>
      {% block body %}{% endblock %}
      {% block javascript %}
        <script type="text/javascript" src="{{ url_for('static', filename='jquery-2.1.0.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='underscore.js') }}"></script>
      {% endblock %}
    </div>
    </body>
</html>