{% extends "layout.html" %}
{% block body %}
  
  <ul class="entries">
    <li><a href="/new">Add to the scrapbook</a></li>
  {% for entry in entries %}
    <li>
        <h2>{{ entry.title }}</h2>
        <p>{{ entry.text|safe }}</p>
        {% if entry.html %}
          {{ entry.html|safe }}
        {% else %}
          {% if entry.resource_type == 'photo' %}
              <img src="{{ entry.url }}" />
          {% endif %}
        {% endif %}
    </li>
  {% else %}
    <li>
        <em>Nothing to see here</em>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

