{% extends "layout.html" %}
{% block body %}
  
  <ul class="entries">
    <li><a href="/new">Add to the scrapbook</a></li>
  {% for entry in entries %}
    <li>
        <h2>{{ entry.title }}</h2>{{ entry.text|safe }}
        {% if entry.resource_type == 'video' %}
            {{ entry.html|safe }}
        {% elif entry.resource_type == 'photo' %}
        '<img src="{{ entry.url }}" />
        {% endif %}
    </li>
  {% else %}
    <li>
        <em>Nothing to see here</em>
    </li>
  {% endfor %}
  </ul>
{% endblock %}

